language: java
install:
  - sudo apt-get update
  - DEBIAN_FRONTEND=noninteractive sudo apt-get install -y rpm
script:
  - mvn -Pzip,rpm package
jdk:
  - openjdk7
  - openjdk8  
  - oraclejdk8
  - oraclejdk9
  - openjdk10
  - openjdk11

